@import "null.css";
/* Селектори */
/* Селектор * */
* {
	color: darkkhaki;
}

/* Селектор класу
.about {
	color: rgb(61, 126, 149);
}
/* Селектор класу .text двох різних тегів div та p*/
/* Тобто звертаюсь бо всsх обьєктів на сторінці з класом .text  */
.text {
	color: rgb(61, 126, 149);
}
/* Селектор класу .choice-text */
.choice-text{
	color: rgb(61, 126, 149);
}
/* Селектор класу .attention */
.attention {
	color: rgb(61, 126, 149);
}
/* Селектор класу .visual  */
.visual {
	color: rgb(61, 126, 149);
}
 /* Селектор класу .sequential  */
.sequential {
	color: rgb(61, 126, 149);
 }
 /* Селектор класу .qualitative  */
 .qualitative{
		color: rgb(61, 126, 149);
	}
/* Селектор класу .image-text */
.image-text{
color: rgb(61, 126, 149);
} 

/* Коротший запис селекторів класу для експерименту  
.about,
.text,
.choice-text,
.attention,
.visual,
.sequential, 
.qualitative,
.image-text {
	color: rgb(61, 126, 149);
} */

/* Приклад як селектор класу преорітеніший ніж селекторв тегу */
.blue {color: blue;
}
.orange{
	color: orange;
}
.yellow{
	color: yellow;
}
.violet{
	color: rgb(138, 45, 138);
}

.green{ color: rgb(44, 153, 44);
}



/* Селектор тегу Р  */
p {
	/* Звертаюсь до всіх моїх тегів  P на стрінці */
	color: rgb(78, 78, 78);
}

/* УТОЧНЕННЯ!!! */
/* Селектор класу, має більший преорітет ніж селектор тегу!!! */
/* Тут звертаюсь саме до классу .visual, тому колір стає рожевим Тут є span, його колір заданий вище,як до всім SPAN на сторінці  */
.visual {
	color: rgb(205, 137, 205);
}
/* Приклад уточнення селектором ID */
#visual-power{
	color: aquamarine;
}

#psychology-power{
	color: rgb(199, 82, 62);
}

/* Звертаюсь до тегу h1 на стрінці */
/* селектор тегу h1 */
h1{
	color: rgb(25, 187, 33);
}

/* Звертаюсь до всіх тегів h2 на стрінці */
/* селектор тегу h2 */
h2 {
	color: rgb(173, 54, 173);
}

/* Селектор тегу H3 */
/* Звертаюсь до всіх тегів H3 на сторінці */
h3{
	color: rgb(140, 188, 235);
}

/* Селектор тегу класу .psychology-text тега H3 */
.psychology-text {
	color: rgb(233, 131, 131);
}

h1, h2{
	font-weight: bold;
	font-size: 35px;
}

h3 {
	font-weight: normal;
	font-size: 30px;
}

h4{
	font-weight: bold;
	font-size: 25px;
}


 /* Селектор id
ID самий приорітетний, має найбільше значення Обращаюсь к id тегу h2, тег поменял цветб так как id самый   */
#about-color {
	color: rgb(35, 71, 71);
} 
#theory{
	color:rgb(35, 71, 71);
}
#color-scheme{
color: rgb(35, 71, 71);
}
#attention-color{
	color: rgb(35, 71, 71);
}
#color-choice{
	color: rgb(35, 71, 71);
}
#psychology-color{
	color: rgb(35, 71, 71);
}
#palitr{
	color: rgb(35, 71, 71);
} 

/* 
Короткий запис Id селекторів до тегів h2 
#about-color,
#theory,
#color-scheme ,
#attention-color,
#color-choice, 
#psychology-color,
#palitr {
 	color: rgb(64, 117, 117);
 }; */


/* Селектор ID до всіх моїх тегів h3 на сторінці, скорочений запис*/
#visualcolor,
#data-color,
#sequential,
#qualitative{
	color: rgb(121, 121, 243);
}


/* Селектор тегу span */
/* Звертаюсь до всіх моїх SPAN тегам на стрінці */
span {
	 color: rgb(44, 96, 201);
} 

/* Тут звертаюсь до всіх моїх  SPAN у тезі P. ВАжливо примітка: p span > span, бо це точніше, є уточнення*/
p span {
	color: rgb(253, 207, 25);
	font-weight: bold;
}

/* Ще точніше уточнення звернення до селектору классу у тезі span */
/* Тут ми звертаємось і до селектора класу і до тегу */
span.priority {
	color: rgb(212, 88, 237);
}

/* Ще більше уточнення, чим більше класів, тим точніше уточнення */
/* Тут звертаюсь до класів .one та .two у тезі span */
/* !!!НЕ СТАВЛЮ ПРОБІЛ, провтикала в лекції, довго шукала чомую Всі класи пишу просто через клапку, БЕЗ ПРОБІЛІВ*/
span.one.two {
	color: rgb(40, 255, 76);
}


/* Звертаюсь до всіх моїх селекторів тегів A*/
 a {
	color: rgb(231, 86, 163);
} 


/* Працюю в блоці Колористика у веб */
/* !! Комбінації селекторів */
/* Звертаюсь до всіх p, знаходяться в тегах div */
/* Важлива примітка, я звертаюсь до всіх вложених обьектів, тому ставлю пробіл */
 div p{
	color: rgb(134, 56, 56);
} 

/* Тут звернудась до всіх селекторів класу .text div та p  */
.color-theory {
	color: rgb(161, 211, 111);
}

/* Тут я звертаюсь до всіх селекторів класів .text .about-text .follow, які вложені у div. Меньш прерітетніший */
 div.text-list{
	color: rgb(73, 73, 145);
} 

/* Тут я звертаюсь до всіх селекторів класів  .text .about-text .follow, які вложені у селектор класу color-theory,більш преорітетний */
.text.about-text.follow {
	color: rgb(196, 164, 170)
}

.better,.comfort{
	color: aqua;
}

/* Вкладеність */
/* Важливо СТАВИТИ пробілб я робила цю помилку */
/* Приклад  Блок Навыгація статті 
я звертась до всіх P nav*/
nav p{
	 /* color: gold;  */
}

/* Звертаюсь до всsіх тегів Р далі по коду після  .text-content та мають той самий рівень вложеності */
.text-content ~ p {
/* color: rgb(70, 156, 118);  */
}

/* Звертаюсь дл всіх Р безпосередньо першого рівня вложенності у nav  */
nav > p {
	/* color: rgb(46, 151, 208); */
}

/* Звертаюсь тільки до ПЕРЕШОГО тегу Р безпосередньо далі по коду, і має той самий рівень вкладенності */
.text-content + p {
	/* color: rgb(134, 75, 211); */
} 



/* Тут звертаюсь саме до кдасу  .text-content у nav*/
nav .text-content  {
	color: crimson;
	font-size: 30px;
}

/* Звертаюсь абсолютно до всіх обьєктів к класі .color-navigation */
.color-navigation * {
	 /* color: darkgoldenrod;  */
}


/* Чому спостереження!! Я звертаюсь до всіх обєктів navя змінюються тільки другого рівня вложенності 
nav * {
	color: blue; 
} */